<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Explore Tours</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="container py-4">

<div class="d-flex justify-content-between align-items-center mb-4">
    <form class="d-flex w-50" th:action="@{/tours/search}" method="post">
        <button class="btn btn-outline-primary" type="button" onclick="window.location.href='/tours/search'">Search</button>    </form>
    <form class="d-flex gap-2" th:action="@{/tours/filter}" method="get">
        <div>
            <label for="sort" class="form-label">Sort by</label>
            <select class="form-select" name="sort" id="sort">
                <option value="promoted">Promoted</option>
                <option value="departure">Departure Date</option>
            </select>
        </div>
        <div>
            <label for="continent" class="form-label">Continent</label>
            <select class="form-select" name="continent" id="continent">
                <option value=0>-</option>
                <option th:each="continent : ${continents}"
                                                   th:value="${continent.id}"
                                                   th:text="${continent.name.getDisplayName()}">
            </select>
        </div>
        <button class="btn btn-primary align-self-end" type="submit">Apply</button>
    </form>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col" th:each="tour : ${tours}">
        <div class="card" th:each="tour : ${tours}">
            <div class="card-body">
                <p th:text="'Departure: ' + ${tour.departureDate}"></p>
                <p th:text="'Places: ' + ${tour.numberOfPlaces}"></p>
                <p th:text="'Adult Price: $' + ${tour.priceForAdult}"></p>
                <a th:href="@{'/purchases/new?tourId=' + ${tour.id}}" class="btn btn-outline-primary btn-sm" title="Purchase this tour">
                    🛒 Purchase
                </a>
            </div>
        </div>

    </div>
</div>
</body>
</html>