<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Airport</title>
</head>
<body>
<h2>Add New Airport:</h2>
<form th:action="@{/airports/create}" th:object="${airport}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" /><br/>
    <label for="city">City:</label>
    <input type="text" id="city" th:field="*{city}" /><br/>
    <button type="submit">Save</button>
</form>
</body>
</html>