<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Airports</title>
</head>
<body>
<h2>Airport List</h2>
<div sec:authorize="hasRole('admin')">
<a th:href="@{/airport.create}">Create New Airport</a>
<table>
  <tr>ID</tr>
  <th>Name</th>
  <th>City</th>
  </tr>
  <tr th:each="airport : ${airport}">
    <td th:text="${airport.id}"></td>
    <td th:text="${airport.name}"></td>
    <td th:text="${airport.city}"></td>
  </tr>
</table>
</div>
</body>
</html>